# MongoDB
#MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/poem-studio?retryWrites=true&w=majority&ssl=true

# JWT
JWT_SECRET=your-256-bit-random-secret-here

# Environment
NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Google OAuth (NextAuth)
AUTH_GOOGLE_ID=your-google-client-id
AUTH_GOOGLE_SECRET=your-google-client-secret

# NextAuth
AUTH_SECRET=your-nextauth-secret-here
AUTH_URL=http://localhost:3000
